target/
**/.settings
**/.pmd
**/.classpath
**/.project
**/.DS_Store
**/*.iml
**/.idea
bin/

mailjimp-core/src/test/resources/mailjimp-test.properties

mailjimp-core/src/test/resources/mailjimp.properties
